@use "./mixins";
$line-height: 0.7vh;
footer {
  background-color: #01010d;
  min-height: 20vh;
  color: #fff;
  @include mixins.flex(column, center, unset);
}
.line {
  background-color: #f15bb5;
  height: $line-height;
  width: 100%;
  align-self: start;
}

.footer-content {
  width: 90%;
  min-height: 20vh - $line-height;

  display: grid;
  grid-template: 1fr 2fr 2fr 1fr/ 1fr;

  h1 {
    font-size: 1.4rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: end;
    grid-area: 2/1/3/1;
  }

  h2 {
    font-size: 1.3rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    grid-area: 3/1/4/1;
    align-self: end;
  }
  a {
    text-decoration: none;
    color: #00f5d4;
  }
}
